body{
    background-color: rgb(32, 32, 32);
}


.nav-bar{
 background-color: rgb(218, 216, 216) !important;
}

.signupDiv{
    /* width: 80%; */
    background-color: rgb(237, 241, 241) !important;
    margin-top: 5%;
    text-align: center;
    /* border-bottom: 2px solid black; */
    box-shadow: 5px 5px 5px gray;
    /* border-radius: 50px 5px 50px 5px; */
}
@media only screen and (max-width: 1000px) {
    .signupDiv{
        width: 50%;
    }
}
@media only screen and (max-width: 770px) {
    .signupDiv{
        width: 60%;
    }
}
@media only screen and (max-width: 475px) {
    .signupDiv{
        width: 80% !important;
    }
}

label{
    font-size: 25px;
    font-weight: bold;
}
h1{
    font-size: 45px;
    font-weight: bold;
    color: rgb(8, 8, 8);
    text-shadow: 5px 5px grey;
}
.small{
    color: rgb(12, 9, 9) !important;
}
.LoginBtn{
    background-color: black;
    color: whitesmoke;
    border: 1px solid whitesmoke;
    border-radius: 10px;
}



input{
    font-weight: bolder !important;
    text-align: center;
    text-decoration: none;
    border-bottom: 2px solid black !important;
}
.loginhead{
    padding-left: 5%;
}
.signhead{
    font-size: 40px;
    /* margin: 0 10% 0 5%; */
}
.btnindex{
    margin-bottom: 2%;
}

.todoHead{
    text-align: center;
}
.add{
    /* margin-top: 5%; */
    margin-left: 35%;
}
@media only screen and (max-width: 770px) {
    .dele{
        margin-top: 2%;
        margin-left: 35%;
    }
}

.iconedt{
    padding-left: 15%;
}
.icondlt{
    padding-left: 3%;
}


.list{
    text-decoration: none;
    background-color: whitesmoke;
    color: black;
}
.li{
    margin-left: 50%;
}
.but{
    margin-left: 100%;
}
h2{
    color: whitesmoke;
    text-decoration: none;
}
.log{
    text-decoration: none;
}